tda2xx_rootfs
ncurses-5.5/Makefile
ncurses-5.5/c++/Makefile
ncurses-5.5/config.log
ncurses-5.5/config.status
ncurses-5.5/edit_man.sed
ncurses-5.5/edit_man.sh
ncurses-5.5/form/Makefile
ncurses-5.5/headers.sh
ncurses-5.5/include/MKterm.h.awk
ncurses-5.5/include/Makefile
ncurses-5.5/include/curses.head
ncurses-5.5/include/ncurses_cfg.h
ncurses-5.5/include/termcap.h
ncurses-5.5/include/unctrl.h
ncurses-5.5/man/Makefile
ncurses-5.5/menu/Makefile
ncurses-5.5/misc/Makefile
ncurses-5.5/misc/run_tic.sh
ncurses-5.5/ncurses/Makefile
ncurses-5.5/panel/Makefile
ncurses-5.5/progs/Makefile
ncurses-5.5/tack/Makefile
ncurses-5.5/test/Makefile
minicom-2.3/Makefile
minicom-2.3/config.h
minicom-2.3/config.log
minicom-2.3/config.status
minicom-2.3/doc/Makefile
minicom-2.3/extras/Makefile
minicom-2.3/extras/linux/Makefile
minicom-2.3/extras/tables/Makefile
minicom-2.3/extras/termcap/Makefile
minicom-2.3/extras/terminfo/Makefile
minicom-2.3/lib/.deps
minicom-2.3/lib/Makefile
minicom-2.3/man/Makefile
minicom-2.3/po/Makefile
minicom-2.3/po/Makefile.in
minicom-2.3/po/POTFILES
minicom-2.3/src/.deps
minicom-2.3/src/Makefile
minicom-2.3/stamp-h1
